:root {
  --yelow: #fffa32;
  --dand: #ff6833;
  --carkipink: #f3617b;
}

a.navbar-brand > img {
  width: 75px;
  margin-right: 100px;
}
.nav-container {
  background: #404244;
}
.nav-container {
  background: #404244;
}
.text-carki-dand {
  color: var(--dand) !important;
}
.card-deep-round {
  font-size: 10px;
  border-radius: 1rem;
}

.carki-nav li a.nav-link {
  color: #ff6833;
}
.carki-nav li a.nav-link:hover {
  color: #cf582d;
}
.carki-nav li a.nav-link:focus {
  color: #b64f2a;
}
.carki-nav li a.nav-link.active {
  color: white;
  text-decoration: underline;
}
.nav-signin {
  border-right: 1px solid #ff6833;
  padding: 0 1rem !important;
  margin: 0.5rem;
}
.bg-light-blue {
  background-color: lightblue;
}
.paper-desc {
  margin: 3rem 1rem;
}
.paper-input {
  border: 1px solid var(--dand);
}
.paper-card-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: .5rem;
}
.paper-slider-right {
  right: -150px;
}
.paper-slider-left {
  left: -150px;
}

.fin-hero {
  background-image: linear-gradient(
    180deg,
    #adb5bd 35%,
    rgb(244 232 0 / 68%) 100%
  );
  padding: 5rem 0;
}

.hero-container {
  padding: 30px;
  /* background: #404244; */
}
.hero-icon-container {
  margin: 2rem;
}

.hero-content {
  -webkit-box-shadow: 9px 8px 15px -3px var(--yelow);
  box-shadow: 9px 8px 15px -3px var(--yelow);
  padding: 0 2rem;
  background: white;
  font-weight: bolder;
  border-radius: 1rem;
}

.btn-orange {
  background-color: orange;
  color: white;
  border-radius: 1rem;
}
.body-hero {
  min-height: 80vh;
  max-height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 0 auto 0 auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      180deg,
      rgb(50 50 85 / 79%) 35%,
      rgb(244 232 0 / 26%) 100%
    ),
    url(/assets/v2_36.png);
  /* background-image:  linear-gradient(180deg,  rgba(23,23,198,1) 35%, rgba(255,243,0,1) 100%), url(/assets/v2_36.png); */
}
.pil-container {
  border-radius: 1rem;
  background-color: lightblue;
}
.font-sm {
  font-size: 16px;
}

.br-round {
  border-radius: 0 1rem 1rem 0 !important;
}
.tax-amount {
  font-size: 3rem;
  color: var(--carkipink);
}
.social-icons {
  font-size: 20px;
}
.body-hero-icons {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}
.footer-brand-img {
  width: 30px;
}
.footer-brand {
  margin-right: 100px;
}
.tax-icon {
  padding-right: 10px;
  margin-top: 15px;
  color: var(--carkipink);
}
.carki-nav li a {
  color: var(--dand);
}
.body-hero-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.hero-container {
  /* background-image: url(./assets/img/cakilogo-hero.svg); */
  background-size: cover;
  background-position: center;
  margin-top: -50px;
  z-index: -100;
}
.hero-clipath {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

p.hero-text {
  margin-bottom: 0px;
}

.hero-icon-container > h6 {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}
.sell-icon {
  width: 50px;
  height: 50px;
}
.sell-icon,
.scrap-icon,
.coe-icon,
.rental-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.border-bottom-cus {
  border-bottom: 1px solid #fffa32;
}

.iconized-icon {
  display: flex;
  justify-content: center;
}

img.iconized-icona {
  width: 10rem;
  margin: 1rem;
}
.value-subheader {
  font-size: 12px;
}
.value-calculator {
  background: white;
  position: relative;
  top: -50px;
}
.whatsapp-container {
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
}
.iconized-footer {
  text-align: center;
  margin: 2rem;
}
h2.products-header {
  font-weight: bolder;
  text-align: center;
  margin: 2rem;
}
.btn-more {
  color: --dand;
}
.value-hero-img {
  height: 200px;
  width: 60%;
  background: pink;
  margin: 1rem auto;
  border-radius: 1rem;
}
.value-hero-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 145, 0, 0.28925073447347693) 100%
  );
}
.left-slider-bar {
  position: relative;
  left: -90px;
}
.right-slider-bar {
  position: relative;
  right: -90px;
}
.sell-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 1rem 1rem 3rem 1rem;
}
.sell-li:not(:last-child)::after {
  content: ">";
  margin-right: 1rem;
}
.sell-link {
  color: black;
}
.sell-link.active {
  font-weight: bolder;
}
.sell-img-cont {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 20px;
}
img {
  width: 100%;
}

.bg-carki-orange {
  background-color: #f8bd52;
}
.bg-carki-dand {
  background-color: var(--dand);
}
.sell-pil-cont {
  border: 2px solid var(--dand);
  border-radius: 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--dand);
}
